body {
    background: url('https://i.pinimg.com/originals/3d/c9/c8/3dc9c8646d7a5935b7b6192112c2f72b.jpg') black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    margin: 0px;
}

button {
    text-align: center;
    border: solid 1px black;
    width: 100px;
    padding: 5px;
    border-radius: 4px;

}
#error-message {
    color: red;
}
