@font-face {
    font-family: 'a Attack Graffiti';
    src: url('aAttackGraffiti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./resources/SL-071219-21480-07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
    color: white;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
#contador img{
    width: 150px;
    position: absolute;
    top: 50px;
    right: 50px
}
.box {
    border-radius: 10px;
    padding: 50px;
    max-width: 500px;
    margin: 40px;
    text-align: center;
}
.buttonHolder {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    color: white;
    background-color: rgb(90, 90, 197);
    text-align: center;
    border: solid 1px white;
    width: 100px;
    padding: 5px ;
    border-radius: 4px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(145, 145, 223);
}
#error-message {
    margin: 20px;
    text-align: center;
    color: red;
}

.pointsBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    width: 100%;
    text-align: center;
    top: 160px;
    color: #e61010;
    text-shadow: 0 0 5px #e61010, 0 0 10px #FFF, 0 0 15px #e61010, 0 0 20px #e61010, 0 0 30px #D45B39, 0 0 40px #D45B39, 0 0 55px #D45B39, 0 0 75px #D45B39;
    color: #FFFFFF;
    font-family: 'a Attack Graffiti';
    font-weight: normal;
    font-style: normal;
    font-size: 38px;
    }
   


#opcoes {
    text-align: left;
    font-size: 12px;
}

#end-image{
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}